@import "bootstrap";

// Colors
$peach:  #ffd3c2;
$yellow: #ffc150;
$green: #ccece9;
$purple: #d3d7ee;

.peach {
	background-color: $peach;
	footer:after {
		content: "";
		background: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,0)),to($peach));
		background: linear-gradient(hsla(0,0%,100%,0),$peach);
	}
}
.yellow {
	background-color: $yellow;
	footer:after {
		content: "";
		background: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,0)),to($yellow));
		background: linear-gradient(hsla(0,0%,100%,0),$yellow);
	}
}
.green {
	background-color: $green;
	footer:after {
		content: "";
		background: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,0)),to($green));
		background: linear-gradient(hsla(0,0%,100%,0),$green);
	}
}
.purple {
	background-color: $purple;
	footer:after {
		content: "";
		background: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,0)),to($purple));
		background: linear-gradient(hsla(0,0%,100%,0),$purple);
	}
}
.headings {
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	border-bottom: 1px solid black;
	margin: 15px 0;
}
.float-right {
	float: right;
}
table {
	width: 100%;
	position: relative;
	z-index: 6;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	
	&:after {
		content: "";
		// background: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,0)),to(#000));
		// background: linear-gradient(hsla(0,0%,100%,0),#fff);
		position: absolute;
		left: 0;
		bottom: 0;
		height: 200px;
		width: 100%;
		z-index: 5;
		pointer-events: none;
	}
}
body {
	position: relative;
}
.scrim {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255 ,0.3);
	z-index: 1;
	display: none;
	&.show {
		display: inline-block;
	}
}
p {
	position: relative;
}
.img-container {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.art-titles {
	p {
		display: inline-block;
	}
}
.mask {
	margin-right: calc(((100vw - 640px) / -2));
    margin-left: calc(((100vw - 640px) / -2));
}